# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\maca-cc2-assignment_Ramin\maca-cc2-assignment\.idea/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
# Editor-based HTTP Client requests
/httpRequests/
